/* CSS declarations go here */
body{
  color: black;
  opacity: .9;
}

input#submit_gif{
  opacity: 1;
}

div#header_div{
  text-align: center;
}

input.ui-autocomplete-input{
  color: white !important;
  font-size: 20px;
}
