.container{
  background: white;
}

h1{
  line-height: 61px;
}

div#header_div{
  text-align: center;
}

div#header_div h1{
  font-size: 73.5px;
  margin-top: 43px;
}

div#header_div p.lead{
  margin-top: 13px;
}

div#add_gif{
}

div#add_gif input[type='submit'],div#add_gif input[type='button']{
  width: 247px;
}

div#add_gif input[type='text']{
  width: 233px;
}

ul.tagit{
  width: 235px; 
}

input#submit_gif{
  margin-right: 267px;
}

li#login div#login-buttons{
  padding-top: 12px;
  margin-right: 15px;
}

li#login div#login-buttons a.login-link-text{
  color:black;
}

li#add_gif_container{
  padding-right: 10px;
}

li div.well.switch.candy{
  margin-top: 5px;
  margin-bottom: -10px;
  margin-right: 10px;
  background-color: black;
}

li div.well.switch.candy label{
  color: white !important;
}

span.slide-button.btn{
  margin-top: 0px !important;
}

div.well.switch{
  width: 193px;
}
