<head>
  <title>GifBoard</title>
</head>

<body>
    <a href="https://github.com/maxwellE/gifboard"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class='container'>
    <div id="header_div">
        <h1>Welcome to Gifboard</h1>
        {{> gifcount}}
    </div>
    {{> navbar }}
    <div id="gifs">
      {{> gifs_list}}
    </div>
  </div>
</body>

<template name='navbar'>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class="nav">
        <li id='login'>
         {{loginButtons}}
        </li>
        <li id='add_gif_container'>
          <button class='btn btn-success' id='add_gif'>Add Gif<i class="icon-plus icon-white"></i>
          </button>
        </li>
        <li class='active'>
          <a href=''>All Gifs</a>
        </li>
        <li>
          <a href=''>Your Gifs</a>
        </li>
        <li class='navbar-search'>
          <input type="text" id='gif_search' class="search-query" placeholder="Search by tag (comma seperated)">
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="gifcount">
    <p class="lead">
      {{count}} total Gifs and counting!
    </p>
</template>

<template name="gifs_list">
<div id="gifs">
  {{#each gifs}}
    <img class='gif' src={{src}}>
  {{/each}}
  </div>
</template>

<template name="add_gif">

</template>
