<head>
  <title>GifBoard</title>
</head>

<body>
    <a href="https://github.com/maxwellE/gifboard"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class='container'>
    <div id="header_div">
        <h1>Welcome to Gifboard</h1>
        {{> gifcount}}
    </div>
    {{> add_gif_form}}
  </div>
  {{> gifs_list}}
</body>

<template name='add_gif_form'>
    <form class='form-horizontal'>
      <fieldset>
        <legend>Add Gif</legend>
          <div class="control-group">
              <label class='control-label'>Gif Source Link</label>
          <div class="controls">
             <input type="text" class='input-xxlarge' placeholder="Gif Source" id='src'>
          </div>
        </div>
        <div class="control-group">
              <label class='control-label'>Tags</label>
          <div class="controls">
             <input name='tags' class="tm-input" data-provide="typeahead" type="text" id='tags'>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-large btn-success input-xxlarge" id='add_gif' type="button" disabled>Add Gif</button>
          </div>
        </div>
      </fieldset>
    </form>
    <hr>
</template>

<template name='user_gif_toggle'>
  <li>
      <div class="well switch candy">
      <input id="all_gifs" name="view" type="radio" checked>
      <label for="all_gifs" onclick="">All Gifs</label>
      <input id="your_gifs" name="view" type="radio"> 
      <label for="your_gifs" onclick="">Your Gifs</label>
      <span class="slide-button btn"></span>
     </div>
  </li>
</template>

<template name="gifcount">
    <p class="lead">
      {{count}} total Gifs and counting!
    </p>
</template>

<template name="gifs_list">
  <div id="gifs">
    {{#each gifs}}
        <img class='gif' onerror="this.style.display='none'" src={{src}}>
    {{/each}}
  </div>
</template>
