<head>
  <title>GifBoard</title>
</head>

<body>
    <a href="https://github.com/maxwellE/gifboard"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class='container'>
    <div id="header_div">
        <h1>Welcome to Gifboard</h1>
        {{> gifcount}}
    </div>
    {{> navbar }}
    {{> gifs_list}}
  </div>
</body>

<template name='navbar'>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class="nav">
        <li id='login'>
         {{loginButtons}}
        </li>
        <li id='add_gif_container'>
          <button class='btn btn-success' id='add_gif'>Add Gif<i class="icon-plus icon-white"></i>
          </button>
        </li>
         {{#if currentUser}}
             {{> user_gif_toggle }}
         {{/if}}
         <li class='navbar-search'>
          <input type="text" id='gif_search' class="search-query" placeholder="Search by tag (comma seperated)">
        </li>
      </ul>
    </div>
  </div>
</template>

<template name='user_gif_toggle'>
  <li>
      <div class="well switch candy">
      <input id="all_gifs" name="view" type="radio" checked>
      <label for="all_gifs" onclick="">All Gifs</label>
      <input id="your_gifs" name="view" type="radio"> 
      <label for="your_gifs" onclick="">Your Gifs</label>
      <span class="slide-button btn"></span>
     </div>
  </li>
</template>

<template name="gifcount">
    <p class="lead">
      {{count}} total Gifs and counting!
    </p>
</template>

<template name="gifs_list">
  <div id="gifs">
    {{#each gifs}}
        <img class='gif' onerror="this.style.display='none'" src={{src}}>
    {{/each}}
  </div>
</template>
